#Esto evitara subir archivos temporales al repositorio

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# variables sensibles
*.tfvars

# Python
__pycache__/
*.pyc

# environment
.env

# OS
.DS_Store
Thumbs.db
